@import "tailwindcss";


:root {
  --background: #111010;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  @apply  mt-3 cursor-pointer w-fit select-none transition-colors duration-100 flex flex-row gap-1.5 items-center bg-zinc-900 border border-zinc-700 hover:bg-zinc-800 px-2  py-1 rounded-md;
}

.support-btn {
  @apply cursor-pointer select-none transition-all duration-200 flex flex-row gap-2 items-center bg-zinc-900 border border-zinc-700 hover:bg-zinc-800 hover:border-zinc-600 px-4 py-2 rounded-lg text-sm font-medium min-w-0;
}

.load-more {
  @apply cursor-pointer w-full text-center justify-center select-none transition-colors duration-100 flex flex-row items-center bg-zinc-900 border border-zinc-700 hover:bg-zinc-800 px-4  py-1 rounded-md;
}

.social-card {
  @apply select-none  bg-zinc-950 border border-zinc-700 rounded-md px-2 py-2 text-[1.35rem] hover:bg-zinc-900 transition-all duration-100;
}

